.ch-item {
	width: 90%;
	height: 90%;
	border-radius: 50%;
	position: relative;
	cursor: default;
	box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

.ch-thumb {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	overflow: hidden;
	position: absolute;
	box-shadow: inset 0 0 0 15px rgba(255,255,255, 0.5);
	
	-webkit-transform-origin: 95% 40%;
	-moz-transform-origin: 95% 40%;
	-o-transform-origin: 95% 40%;
	-ms-transform-origin: 95% 40%;
	transform-origin: 95% 40%;
	
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.ch-thumb:after {
	content: '';
	width: 8px;
	height: 8px;
	position: absolute;
	border-radius: 50%;
	top: 40%;
	left: 95%;
	margin: -4px 0 0 -4px;
	background: rgb(14,14,14);
	background: -moz-radial-gradient(center, ellipse cover, rgba(14,14,14,1) 0%, rgba(125,126,125,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(14,14,14,1)), color-stop(100%,rgba(125,126,125,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(14,14,14,1) 0%,rgba(125,126,125,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(14,14,14,1) 0%,rgba(125,126,125,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(14,14,14,1) 0%,rgba(125,126,125,1) 100%);
	background: radial-gradient(ellipse at center, rgba(14,14,14,1) 0%,rgba(125,126,125,1) 100%);
	box-shadow: 0 0 1px rgba(255,255,255,0.9);
}

.ch-img-1 { 
    background-image: url(../img/finance/Accountsandpayable.png);
    background-size: 100% 100%;
    position: center;
	display: block;
	filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%);
 border-radius: 100px;
 -webkit-border-radius: 100px;
 -moz-border-radius: 100px;

	
	z-index: 12;
}

.ch-img-2 { 
    background-image: url(../img/finance/AccountsReceivable.png);
    background-size: 100% 100%;
	position: center;
	filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%);
	display: block;
 border-radius: 100px;
 -webkit-border-radius: 100px;
 -moz-border-radius: 100px;
	z-index: 11;
}

.ch-img-3 { 
    background-image: url(../img/finance/bankreconcilation.png);
   background-size: 100% 100%;
	position: center;
	filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%);
	display: block;
 border-radius: 100px;
 -webkit-border-radius: 100px;
 -moz-border-radius: 100px;
	z-index: 10;
}

.ch-img-4 { 
    background-image: url(../img/finance/CashManagement.png);
   background-size: 100% 100%;
	position: center;
	filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%);
	display: block;
 border-radius: 100px;
 -webkit-border-radius: 100px;
 -moz-border-radius: 100px;
	z-index: 9;
}

.ch-img-5 { 
	background-image: url(../img/finance/generalledger.png);
   background-size: 100% 100%;
	position: center;
	filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%);
	display: block;
 border-radius: 100px;
 -webkit-border-radius: 100px;
 -moz-border-radius: 100px;
	z-index: 12;
}

.ch-img-6 { 
    background-image: url(../img/finance/PettyCash.png);
   background-size: 100% 100%;
    position: center;
	display: block;
	filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%);
 border-radius: 100px;
 -webkit-border-radius: 100px;
 -moz-border-radius: 100px;
	z-index: 11;
}
.ch-img-7 { 
    background-image: url(../img/finance/PlanningandBudget.png);
   background-size: 100% 100%;
    position: center;
	display: block;
	filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%);
 border-radius: 100px;
 -webkit-border-radius: 100px;
 -moz-border-radius: 100px;
	z-index: 10;
}
.ch-img-8 { 
    background-image: url(../img/finance/Sundrypayable.png);
   background-size: 100% 100%;
    position: center;
	display: block;
	filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%);
 border-radius: 100px;
 -webkit-border-radius: 100px;
 -moz-border-radius: 100px;
	z-index: 9;
}

.ch-img-11 { 
    background-image: url(../img/Sales/consignment.png);
   background-size: 100% 100%;
	position: center;
	filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%);
	display: block;
 border-radius: 100px;
 -webkit-border-radius: 100px;
 -moz-border-radius: 100px;
	z-index: 12;
}
.ch-img-12 { 
    background-image: url(../img/Sales/deliveryorder.png);
   background-size: 100% 100%;
	position: center;
	filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%);
	display: block;
 border-radius: 100px;
 -webkit-border-radius: 100px;
 -moz-border-radius: 100px;
	z-index: 11;
}
.ch-img-13 { 
    background-image: url(../img/Sales/proformainvoice.png);
   background-size: 100% 100%;
	position: center;
	filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%);
	display: block;
 border-radius: 100px;
 -webkit-border-radius: 100px;
 -moz-border-radius: 100px;
	z-index: 10;
}
.ch-img-14 { 
    background-image: url(../img/Sales/Quotationmanagement.png);
   background-size: 100% 100%;
	position: center;
	
	display: block;
 border-radius: 100px;
 -webkit-border-radius: 100px;
 -moz-border-radius: 100px;
	z-index: 9;
}
.ch-img-15 { 
	background-image: url(../img/Sales/salescommission.png);
   background-size: 100% 100%;
	position: center;
	filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%);
	display: block;
 border-radius: 100px;
 -webkit-border-radius: 100px;
 -moz-border-radius: 100px;
	z-index: 12;
}
.ch-img-16 { 
    background-image: url(../img/Sales/Salesforecast.png);
   background-size: 100% 100%;
    position: center;
	display: block;
	filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%);
 border-radius: 100px;
 -webkit-border-radius: 100px;
 -moz-border-radius: 100px;
	z-index: 11;
}
.ch-img-17 { 
    background-image: url(../img/Sales/salesinvoice.png);
   background-size: 100% 100%;
    position: center;
	display: block;
	filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%);
 border-radius: 100px;
 -webkit-border-radius: 100px;
 -moz-border-radius: 100px;
	z-index: 10;
}
.ch-img-18 { 
    background-image: url(../img/Sales/salesorder.png);
   background-size: 100% 100%;
    position: center;
	display: block;
	filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%);
 border-radius: 100px;
 -webkit-border-radius: 100px;
 -moz-border-radius: 100px;
	z-index: 9;
}
.ch-img-21 { 
    background-image: url(../img/Production/barcodesystem.png);
   background-size: 100% 100%;
    position: center;
	display: block;
 border-radius: 100px;
 -webkit-border-radius: 100px;
 -moz-border-radius: 100px;
	z-index: 12;
}
.ch-img-211 { 
    background-image: url(../img/tracking/scan.png);
   background-size: 100% 100%;
  ;
    position: center;
	display: block;
 border-radius: 100px;
 -webkit-border-radius: 100px;
 -moz-border-radius: 100px;
	z-index: 11;
}
.ch-img-22 { 
    background-image: url(../img/Production/cars.png);
   background-size: 100% 100%;
    position: center;
	display: block;
 border-radius: 100px;
 -webkit-border-radius: 100px;
 -moz-border-radius: 100px;
	z-index: 11;
}
.ch-img-23 { 
    background-image: url(../img/Production/Machineandmould.png);
   background-size: 100% 100%;
    position: center;
	display: block;
 border-radius: 100px;
 -webkit-border-radius: 100px;
 -moz-border-radius: 100px;
	z-index: 10;
}
.ch-info {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	overflow: hidden;
	background: #3ba9f3 url(../img/pattern.png);
	box-shadow: inset 0 0 0 5px rgba(0,0,0,0.05);
}

.ch-info h3 {
	color: #fff;
	text-transform: uppercase;
	position: center;
	letter-spacing: 2px;
	font-size: 13px;

	padding: 40px 0 0 0;
	height: 85px;
	font-family: 'Open Sans', Arial, sans-serif;
	text-shadow: 
		0 0 1px #fff, 
		0 1px 2px rgba(0,0,0,0.3);
}

.ch-info p {
	color: #fff;
	padding: 1px 5px;
	font-style: italic;
	margin: 0 30px;
	font-size: 12px;
	border-top: 2px solid rgba(255,255,255,0.5);
}

.ch-info p a {
	display: block;
	color: #333;
	width: 60px;
	height: 30px;
	background: rgba(255,255,255,0.3);

	color: #fff;
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 9px;
	letter-spacing: 1px;
	padding-top: 1px;
	margin: 5px auto 0;
	font-family: 'Open Sans', Arial, sans-serif;
	opacity: 0;
	
	-webkit-transition: 
		-webkit-transform 0.3s ease-in-out 0.2s,
		opacity 0.3s ease-in-out 0.2s,
		background 0.2s linear 0s;
	-moz-transition: 
		-moz-transform 0.3s ease-in-out 0.2s,
		opacity 0.3s ease-in-out 0.2s,
		background 0.2s linear 0s;
	-o-transition: 
		-o-transform 0.3s ease-in-out 0.2s,
		opacity 0.3s ease-in-out 0.2s,
		background 0.2s linear 0s;
	-ms-transition: 
		-ms-transform 0.3s ease-in-out 0.2s,
		opacity 0.3s ease-in-out 0.2s,
		background 0.2s linear 0s;
	transition: 
		transform 0.3s ease-in-out 0.2s,
		opacity 0.3s ease-in-out 0.2s,
		background 0.2s linear 0s;
		
	-webkit-transform: translateX(60px) rotate(90deg);
	-moz-transform: translateX(60px) rotate(90deg);
	-o-transform: translateX(60px) rotate(90deg);
	-ms-transform: translateX(60px) rotate(90deg);
	transform: translateX(60px) rotate(90deg);
		
	-webkit-backface-visibility: hidden;
}

.ch-info p a:hover {
	background: rgba(255,255,255,0.5);
}
.ch-item:hover .ch-thumb {
	box-shadow: inset 0 0 0 15px rgba(255,255,255, 0.5), 0 1px 3px rgba(0,0,0,0.2);
	-webkit-transform: rotate(-110deg);
	-moz-transform: rotate(-110deg);
	-o-transform: rotate(-110deg);
	-ms-transform: rotate(-110deg);
	transform: rotate(-110deg);
}
.ch-item:hover .ch-info p a{
	opacity: 1;
	-webkit-transform: translateX(0px) rotate(0deg);
	-moz-transform: translateX(0px) rotate(0deg);
	-o-transform: translateX(0px) rotate(0deg);
	-ms-transform: translateX(0px) rotate(0deg);
	transform: translateX(0px) rotate(0deg);
}
